#### We use this file to define our relaydomains #########################
#### Vorm:  domeinnaam<tab><tab>ok #######################################
##########################################################################

melvincornelissen.nl		ok
mel.vin			ok
coolblue.nl		ok
123test.com		ok


