#### Hier alle domein namen in verwerken waar wij E-mail van ontvangen
#### Vorm:  domeinnaam<tab><tab>xx
##########################################################################
##### De Webshops ######
### .nl
pdashop.nl		xx
laptopshop.nl		xx
printershop.nl		xx
umpcshop.nl		xx
smartphoneshop.nl		xx
ladyphoneshop.nl		xx
gpsshop.nl		xx
telefoonshop.nl		xx
mp3shop.nl		xx
shavershop.nl		xx
householdshop.nl	xx
memoryshop.nl		xx
voicerecordershop.nl	xx
hoofdtelefoonstore.nl   xx
headsetshop.nl		xx
videocamerashop.nl	xx
routercenter.nl		xx
hartslagmetercenter.nl	xx
calculatorshop.nl       xx
autoradiostore.nl       xx
computerstore.nl        xx
beamercenter.nl         xx
boormachinestore.nl	xx
strijkijzerstore.nl	xx
verrekijkercenter.nl    xx
wekkerradioshop.nl      xx
blurayspelershop.nl     xx
tabletcenter.nl		xx
epilatorshop.nl         xx
stijltangstore.nl       xx
monitorstore.nl         xx
blenderstore.nl         xx
hardeschijfstore.nl     xx
waterkokerstore.nl      xx
decttelefoonshop.nl	xx
homecinemacenter.nl	xx
friteusecenter.nl	xx
nascenter.nl		xx
3dprinterspecialist.be  xx
fornuisstore.nl         xx
fornuisstore.be         xx
afzuigkapshop.nl        xx
dampkapshop.be   	xx
ovenstore.nl     	xx
ovenstore.be     	xx
kookplaatstore.nl     	xx
kookplaatstore.be       xx
domoticaexpert.nl       xx
domoticaexpert.be       xx
thermostaatstore.be     xx
thermostaatstore.nl     xx
djgearshop.nl    	xx
### .be
pdashop.be		xx
laptopshop.be		xx
printershop.be		xx
umpcshop.be		xx
smartphoneshop.be	xx
ladyphoneshop.be	xx
gpsshop.be		xx
mp3shop.be		xx
shavershop.be		xx
householdshop.be	xx
memoryshop.be		xx
voicerecordershop.be	xx
hoofdtelefoonstore.be	xx
gsmstore.be		xx
headsetshop.be          xx
videocamerashop.be	xx
routercenter.be		xx
hartslagmetercenter.be	xx
calculatorshop.be       xx
autoradiostore.be       xx
computerstore.be        xx
beamercenter.be         xx
boormachinestore.be	xx
strijkijzerstore.be	xx
verrekijkercenter.be    xx
wekkerradioshop.be      xx
blurayspelershop.be     xx
tabletcenter.be		xx
epilatorshop.be         xx
stijltangstore.be	xx
monitorstore.be         xx
blenderstore.be         xx
hardeschijfstore.be	xx
waterkokerstore.be	xx
telefooncenter.be	xx
homecinemacenter.be	xx
friteusecenter.be	xx
nascenter.be		xx

############# Overig ###############
#### .nl
aansluitshop.nl		xx
aansluitstore.nl	xx
adaptshop.nl		xx
aiwashop.nl		xx
atshop.nl		xx
athomeshop.nl		xx
audiotechnicashop.nl	xx
aximshop.nl		xx
babytechshop.nl		xx
batterylife.nl		xx
batterylive.nl		xx
beeldschermshop.nl	xx
belleshop.nl		xx
benqshop.nl		xx
beursexpert.nl		xx
boynqshop.nl		xx
brandoshop.nl		xx
bruingoedshop.nl	xx
brushshop.nl		xx
cafeshop.nl		xx
callcentershop.nl	xx
camerastunts.nl		xx
carcommshop.nl		xx
carpcshop.nl		xx
casioshop.nl		xx
commodoreshop.nl	xx
consolshop.nl		xx
coolbleu.nl		xx
coolblueimages.nl	xx
coolblueshop.nl		xx
coolgreen.nl		xx
coolzijn.nl		xx
covertecshop.nl		xx
deliveryservice.nl	xx
dexcomshop.nl		xx
dialshop.nl		xx
digicamclub.nl		xx
digicamstunts.nl	xx
digitalecamerashop.nl	xx
direqt.nl		xx
dixons-shop.nl		xx
dixonshop.nl		xx
dixonsshop.nl		xx
dongelshop.nl		xx
dongleshop.nl		xx
dvbhshop.nl		xx
dynashite.nl		xx
elektronicagigant.nl	xx
emtacshop.nl		xx
exilimshop.nl		xx
femmephoneshop.nl	xx
femmeshop.nl		xx
foongear.nl		xx
fotodireqt.nl		xx
fotoeurope.nl		xx
fotoshopper.nl		xx
gadgetfashion.nl	xx
gadgetfashionshop.nl	xx
gayphoneshop.nl		xx
geheugenexpress.nl	xx
globalexpress.nl	xx
gnnetcomshop.nl		xx
gnshop.nl		xx
gpsdireqt.nl		xx
gpseurope.nl		xx
gpsexpress.nl		xx
gpshuis.nl		xx
gpshut.nl		xx
gpsphone.nl		xx
gpsphoneshop.nl		xx
gsmcovers.nl		xx
gsmeurope.nl		xx
gsmfrontjes.nl		xx
haicomshop.nl		xx
handtops.nl		xx
handtopshop.nl		xx
hddshop.nl		xx
hdforum.nl		xx
hdpagina.nl		xx
hdshop.nl		xx
hdspashop.nl		xx
hdstore.nl		xx
gpsclub.nl		xx
horseselect.nl		xx
hdtvshop.nl		xx
herculesshop.nl		xx
holuxshop.nl		xx
hpc-shop.nl		xx
hpchuis.nl		xx
hpcstore.nl		xx
hpcshop.nl		xx
htc-shop.nl		xx
htchuis.nl		xx
htcshop.nl		xx
htcstore.nl		xx
htctouchpro.nl		xx
htpcshop.nl		xx
i-mateshop.nl		xx
imateshop.nl		xx
in-carshop.nl		xx
incar-shop.nl		xx
incar-wereld.nl		xx
incarexpress..nl	xx
incarhuis.nl		xx
incarpcshop.nl		xx
incarstore.nl		xx
incarwereld.nl		xx
inhuisshop.nl		xx
intense.nl		xx
intensemedia.nl		xx
ipaq.nl			xx
iqua.nl			xx
irivershop.nl		xx
irobotshop.nl		xx
jabrashop.nl		xx
jazzpiper.nl		xx
jblshop.nl		xx
joytechshop.nl		xx
kinderspeelgoedshop.nl		xx
kinderspeelgoedstore.nl		xx
kinderspeelgoedwinkel.nl	xx
koelzijn.nl		xx
ladyfoneshop.nl		xx
laptopsshop.nl		xx
leadtekshop.nl		xx
life-careshop.nl	xx
lifecare-express.nl	xx
lifecare-huis.nl	xx
lifecare-store.nl	xx
lifecareexpress.nl	xx
lifecarehuis.nl		xx
lifecarestore.nl	xx
live-careshop.nl	xx
logic3shop.nl		xx
m505.nl			xx
marcelvaneck.nl		xx
mcshop.nl		xx
mediacentershop.nl	xx
memoryexpress.nl	xx
memorystunts.nl		xx
midshop.nl		xx
mioshop.nl		xx
mobieletelefoonshop.nl	xx
mobieltvshop.nl		xx
mobilejuice.nl		xx
mobiletvshop.nl		xx
mobilityshop.nl		xx
monstershop.nl		xx
motorolashop.nl		xx
mp3direqt.nl		xx
mp3hardware.nl		xx
mp3man.nl		xx
mp3shopper.nl		xx
mp3stunts.nl		xx
mp3vrouw.nl		xx
navigatieshop.nl	xx
navigonshop.nl		xx
navmanshop.nl		xx
nixons.nl		xx
noreve.nl		xx
oogjestoe.nl		xx
palmlifestyle.nl	xx
palmone-shop.nl		xx
palmoneshop.nl		xx
pda-shop.nl		xx
pdadireqt.nl		xx
pdaeurope.nl		xx
pdahsop.nl		xx
pdashopper.nl		xx
phonegear.nl		xx
pmpshop.nl		xx
pnashop.nl		xx
pocketpcshop.nl		xx
qblue.nl		xx
rioshop.nl		xx
satnav.nl		xx
satnavshop.nl		xx
sattnav.nl		xx
sennheisershop.nl	xx
shaveshop.nl		xx
shureshop.nl		xx
siemenshomeplanner.nl	xx
sim-onlyshop.nl		xx
simonlyshop.nl		xx
smartfoneshop.nl	xx
smartfoonshop.nl	xx
smarthomeshop.nl	xx
smartphonehuis.nl	xx
streamingshop.nl	xx
stylusshop.nl		xx
tablet-pc.nl		xx
tabletpcshop.nl		xx
tatungshop.nl		xx
telefoon-express.nl	xx
telefoon-huis.nl	xx
telefoon-shop.nl	xx
telefoon-store.nl	xx
telephoneshop.nl	xx
tomtomgps.nl		xx
tomtomgpsshop.nl	xx
tomtomklantenshop.nl	xx
touchdiamond.nl		xx
tracktraceshop.nl	xx
tungsten-shop.nl	xx
tungstenshop.nl		xx
tyfoneshop.nl		xx
typhonehouse.nl		xx
typhoneshop.nl		xx
veripart.nl		xx
veriparts.nl		xx
veripartshop.nl		xx
verleng-shop.nl		xx
verleng-store.nl	xx
verlengdireqt.nl	xx
verlengshop.nl		xx
verlengstore.nl		xx
verlengwinkel.nl	xx
verzendkosten.nl	xx
videocamshop.nl		xx
voipdectshop.nl		xx
wasgoedshop.nl		xx
webtablet.nl		xx
windowsmobileshop.nl	xx
wwwpdashop.nl		xx
zakcomputer.nl		xx
ziggoshop.nl		xx
#pdashop.nl		xx
palm.nl			xx
cooldeal.nl		xx
ventilatorstore.nl      xx
3dprinterspecialist.nl  xx
verlichtingcenter.nl    xx
verlichtingcenter.be    xx

#### Spanje
bellzatienda.es		xx
camaratienda.es		xx
camerashop.es		xx
consoleshop.es		xx
consoletienda.es	xx
coolblue.es		xx
coolblueshop.com.es	xx
coolblueshop.es		xx
gpstienda.es		xx
gsmshop.es		xx
gsmtienda.es		xx
incarshop.es		xx
memoriastienda.es	xx
mp3shop.es		xx
mp3tienda.es		xx
paracochetienda.es	xx
pcplaza.es		xx
pdaplaza.es		xx
pdashop.com.es		xx
pdatienda.es		xx
pmpshop.es		xx
simonlyshop.es		xx
telefonoshop.es		xx
telefonostienda.es	xx
tiendabellza.es		xx
tiendaconsole.es	xx
tiendadegsm.es		xx
tiendadememorias.es	xx
tiendademoviles.es	xx
tiendademp3.es		xx
tiendadepda.es 		xx
tiendadetelefonos.es	xx
tiendadeumpc.es		xx
tiendafotografica.es	xx
tiendagsm.es		xx
tiendajueguos.es	xx
tiendamemorias.es	xx
tiendamp3.es		xx
tiendanavigadores.es	xx
tiendaparacoche.es	xx
tiendapdas.es		xx
tiendatelefonos.es	xx
tiendaumpc.es		xx
tiendecamaras.es	xx
tiendedecamaras.es	xx
umpctienda.es		xx
veripart.es 		xx

#### Duitsland
pdashop.de		xx
mp3shop.de		xx
gpsshop.de		xx
laptopshop.de		xx
i-mateshop.de		xx
imateshop.de		xx
mp3man.de		xx
mp3mann.de		xx
palmlifestyle.de	xx
pdace.de		xx
pdaman.de		xx
pdamann.de		xx
digikamshop.de		xx

#### Polen
gpsshop.pl		xx
camerashop.pl		xx

#### Mobi
coolblue.mobi		xx

#### TV
coolblue.tv		xx
coolgadget.tv		xx
koelzijn.tv		xx

#### Zweden
gpsshop.se		xx

#### Oostenrijk
gpsshop.at		xx

#### Italie
gpsshop.it		xx

#### .org
direqt.org		xx

#### .net
direqt.net		xx
cbcdn.net		xx

#### .ie
pdashop.ie		xx

#### .biz
veripart.biz		xx
veriparts.biz		xx

#### .info
veripart.info		xx
veriparts.info		xx

#### .eu
coolblue.eu		xx
telefoon-shop.eu 	xx
telefoonshop.eu		xx
veripart.eu		xx
verlengshop.eu		xx
voiceshop.eu		xx
htcshop.eu		xx
incarshop.eu		xx
incarstore.eu		xx
lifecare-shop.eu	xx
lifecareshop.eu		xx
direqt.eu		xx
batterylife.eu		xx

#### .com
coolblueshop.com	xx
direqt.com		xx
gsmcovers.com		xx
gsmgadgets.com		xx
jazzpiper.com		xx
palmoneshop.com		xx
replaybox.com		xx
godsgifttomen.com	xx
gods-gift-to-women.com	xx
carpcshop.com		xx
aiwashop.com		xx
aximshop.com		xx

#### .co
smartphoneshop.co	xx
veripart.co		xx
veriparts.co		xx
pdace.co		xx

#### .co.uk
veriparts.co.uk		xx
veripart.co.uk		xx
smartphoneshop.co.uk	xx
pdace.co.uk		xx

#### .be
aansluitshop.be		xx
aansluitstore.be	xx
aiwashop.be		xx
aximshop.be		xx
batterylive.be		xx
belleshop.be		xx
brushshop.be		xx
cableshop.be		xx
cafeshop.be		xx
callcentershop.be	xx
carpcshop.be		xx
casioshop.be		xx
console-shop.be		xx
coolblueshop.be		xx
cooldeal.be		xx
coolgreen.be		xx
coronelshop.be		xx
djgearshop.be		xx
dvbhshop.be		xx
exilimshop.be		xx
femmephoneshop.be	xx
femmeshop.be		xx
foongear.be		xx
gadgetfashion.be	xx
gadgetfashionshop.be	xx
galileoshop.be		xx
gps-shop.be		xx
handtops.be		xx
handtopshop.be		xx
hddshop.be		xx
hdtvshop.be		xx
herculesshop.be		xx
htcshop.be		xx
htctouchpro.be		xx
htpcshop.be		xx
huishoudshop.be		xx
i-mateshop.be		xx
imateshop.be		xx
in-carshop.be		xx
incar-shop.be		xx
incarstore.be		xx
incarshop.be		xx
incarexpress.be		xx
inhuisshop.be		xx
ipaqshop.be		xx
irivershop.be		xx
irobotshop.be		xx
kinderspeelgoedshop.be	xx
kinderspeelgoedstore.be	xx
kinderspeelgoedwinkel.be	xx
ladyfoneshop.be		xx
laptopsshop.be		xx
lifecare-express.be	xx
lifecare-huis.be	xx
lifecare-shop.be	xx
lifecare-store.be	xx
lifecareexpress.be	xx
lifecarehuis.be		xx
lifecarestore.be	xx
lifecareshop.be		xx
mcshop.be		xx
mediacentershop.be	xx
midshop.be		xx
mobilityshop.be		xx
motorolashop.be		xx
mp3cdspeler.be		xx
mp3man.be		xx
navigatieshop.be	xx
netbookshop.be		xx
palmlifestyle.be	xx
palmoneshop.be		xx
phonegear.be		xx
pmpshop.be		xx
pnashop.be		xx
qblue.be		xx
robotshop.be		xx
satnav.be		xx
satnavshop.be		xx
sattnav.be		xx
shaveshop.be		xx
simonlyshop.be		xx
smarthomeshop.be	xx
stofzuigershop.be	xx
streamingshop.be	xx
telefoon-express.be	xx
telefoon-huis.be	xx
telefoon-shop.be	xx
telefoon-store.be	xx
telefoonexpress.be	xx
telefoonhuis.be		xx
tyfoneshop.be		xx
typhoneshop.be		xx
veripart.be		xx
veriparts.be		xx
verleng-shop.be		xx
verleng-store.be	xx
verlengshop.be		xx
verlengwinkel.be	xx
videocamshop.be		xx
webcamshop.be		xx
windowsmobileshop.be	xx
witgoedshop.be		xx
ventilatorstore.be      xx
autostoeltjescenter.be   xx
store.nl           xx
gsmtore.nl         xx
pdastore.nl        xx
camerastore.nl     xx
geheugenstore.nl   xx
audiostore.nl      xx
homecinemastore.nl xx
televisiestore.nl  xx

### .hu
coolblue.hu	xx

### babyfoonstore.be
babyfoonstore.be         xx
### babyfoonstore.nl
babyfoonstore.nl         xx
### bodycareshop.be
bodycareshop.be          xx
### bodycareshop.nl
bodycareshop.nl          xx
### camerashop
camerashop.be    xx
camerashop.nl    xx
### consoleshop
consoleshop.be   xx
consoleshop.nl   xx
### coolblue
coolblue.be      xx
coolblue.nl      xx
coolblue.io      xx
cool.blue	xx
### Coolblue development
devel.zone	xx
accept.zone	xx
tst.zone	xx
coolblue-testing.eu xx
coolblue-acceptance.eu xx
coolblue-production.eu xx
coolblue-shared.eu xx
216d4fd15609a83a4e5795706767479a.org	xx
### digicamshop
digicamshop.be   xx
digicamshop.nl   xx
### ereaderstore
ereaderstore.nl	 xx
ereaderstore.be	 xx
### koffiecenter
koffiecenter.be          xx
koffiecenter.nl          xx
### powertoolshop
powertoolshop.be	xx
powertoolshop.nl	xx
### stofzuigerstore
stofzuigerstore.be       xx
stofzuigerstore.nl       xx
### tandenborstelstore
tandenborstelstore.be    xx
tandenborstelstore.nl    xx
### tondeusestore
tondeusestore.be         xx
tondeusestore.nl         xx
fietscomputerstore.nl    xx
fietscomputerstore.be    xx
zaagmachineshop.nl       xx
zaagmachineshop.be       xx
receiverstore.nl         xx
receiverstore.be         xx
keukenmachineshop.be	 xx
keukenmachineshop.nl     xx
keukenrobotshop.be       xx
rekenmachinestore.nl     xx
rekenmachinestore.be     xx
staafmixershop.nl        xx
staafmixershop.be        xx
hifisetshop.nl   xx
stereoketenshop.be       xx
schuurmachineshop.nl     xx
schuurmachineshop.be     xx
kruimeldiefshop.nl       xx
kruimeldiefshop.be       xx
wekkercenter.nl          xx
wekkercenter.be          xx
grillstore.nl    xx
grillstore.be    xx
broodbakmachinestore.nl          xx
broodbakmachinestore.be          xx
heggenschaarshop.nl      xx
heggenschaarshop.be      xx
hogedrukreinigerexpert.nl     xx
hogedrukreinigerexpert.be    xx
grasmaaierstore.nl       xx
grasmaaierstore.be       xx
walkietalkiestore.nl     xx
walkietalkiestore.be     xx
carkitcenter.nl          xx
carkitcenter.be          xx
sporthorlogecenter.nl    xx
sporthorlogecenter.be    xx
tvstore.nl       xx
tvstore.be       xx
prepaidstore.nl          xx
prepaidstore.be		 xx
kabelstore.nl    xx
kabelstore.be    xx
takelautostore.nl        xx
takelautostore.be        xx
speakerdockshop.nl       xx
speakerdockshop.be       xx
minisetshop.nl   xx
miniketenshop.be   xx
mobielinternetshop.nl    xx
mobielinternetstore.be   xx
statiefshop.nl   xx
statiefshop.be   xx
scannercenter.nl         xx
scannercenter.be         xx
robotstofzuigerstore.nl  xx
robotstofzuigerstore.be  xx
broodroostercenter.nl    xx
broodroostercenter.be    xx
accustore.nl     xx
batterijstore.be         xx
seniorentelefoonstore.nl         xx
seniorentelefoonstore.be         xx
ijsmachineshop.nl        xx
ijsmachineshop.be        xx
prullenbakstore.nl       xx
prullenbakstore.be       xx
stoomreinigercenter.nl   xx
stoomreinigercenter.be   xx
labelprintercenter.nl    xx
labelprintercenter.be    xx
papiervernietigerstore.nl        xx
papiervernietigerstore.be        xx
cameratasshop.nl         xx
cameratasshop.be         xx
pannenstore.nl   xx
pannenstore.be   xx
audiostreamershop.nl     xx
audiostreamershop.be     xx
radioshop.nl     xx
radioshop.be     xx
audiorecordershop.nl     xx
audiorecordershop.be     xx
coolbluefanshop.nl       xx
coolbluefanshop.be       xx
versterkerstore.nl       xx
versterkerstore.be       xx
theepotstore.nl          xx
theepotstore.be          xx
freesmachineshop.nl      xx
freesmachineshop.be      xx
magnetronstore.nl        xx
microgolfovenstore.be    xx
iculture-shop.nl         xx
keukenmesshop.nl         xx
keukenmesshop.be         xx
telefoonhoesstore.nl     xx
telefoonhoesstore.be	 xx
telefooncasestore.be     xx
slijpmachinestore.nl     xx
slijpmachinestore.be     xx
muurbeugelcenter.nl      xx
muurbeugelcenter.be      xx
bladblazershop.nl        xx
bladblazershop.be        xx
peperenzoutmolenshop.nl          xx
peperenzoutmolenshop.be          xx
laptoptasshop.nl         xx
laptoptasshop.be         xx
wasmachinestore.nl       xx
wasmachinestore.be       xx
wasdrogerstore.nl        xx
droogkaststore.be        xx
koelkaststore.nl         xx
koelkaststore.be         xx
vaatwasserstore.nl       xx
vaatwasserstore.be       xx
vriezerstore.nl          xx
diepvriezershop.be       xx
wijnglazenstore.nl       xx
wijnglazenstore.be       xx
fietsverlichtingstore.nl         xx
fietsverlichtingstore.be         xx
fietsslotstore.nl        xx
fietsslotstore.be        xx
fohnshop.nl      xx
haardrogershop.be        xx
keyboardspecialist.nl    xx
keyboardspecialist.be    xx
tekentabletstore.nl      xx
tekentabletstore.be      xx
gamingheadsetshop.nl     xx
gamingheadsetshop.be     xx
fietstrainerstore.nl     xx
fietstrainerstore.be     xx
videokaartshop.nl        xx
videokaartshop.be        xx
bestekstore.nl   xx
bestekstore.be   xx
serviesstore.nl          xx
serviesstore.be          xx
sportbrilstore.nl        xx
sportbrilstore.be        xx
fietsstoeltjecenter.nl   xx
fietsstoeltjecenter.be   xx
autostoeltjecenter.nl    xx
autostoeltjecenter.be    xx
fietsendragercenter.nl   xx
fietsendragercenter.be   xx
fietshelmcenter.nl       xx
fietshelmcenter.be       xx
fietstascenter.nl        xx
fietstascenter.be        xx
zakmesshop.nl    xx
zakmesshop.be    xx
rugzakcenter.nl          xx
rugzakcenter.be          xx
zaklampcenter.nl         xx
zaklampcenter.be         xx
slaapzakstore.nl         xx
slaapzakstore.be         xx
wijnklimaatkastshop.nl   xx
wijnklimaatkastshop.be   xx
ssdcenter.nl     xx
ssdcenter.be     xx
ipcameracenter.nl        xx
ipcameracenter.be        xx
naaimachinestore.nl      xx
naaimachinestore.be      xx
processorstore.nl        xx
processorstore.be        xx
keukenkraanstore.nl      xx
keukenkraanstore.be      xx
tentcenter.nl    xx
tentcenter.be    xx
bbqcenter.nl     xx
bbqcenter.be     xx
compressorcenter.nl      xx
compressorcenter.be      xx
tuinslangcenter.nl       xx
tuinslangcenter.be       xx
kookboekstore.nl         xx
kookboekstore.be         xx
inktcartridgestore.nl    xx
inktcartridgestore.be    xx
soundbarshop.nl          xx
soundbarshop.be          xx
tennisracketstore.nl     xx
tennisracketstore.be     xx
sporttasstore.nl         xx
sporttasstore.be         xx
kofferstore.nl   xx
kofferstore.be   xx
hardloopschoenencenter.nl        xx
hardloopschoenencenter.be        xx
voetbalschoenencenter.nl         xx
voetbalschoenencenter.be         xx
hockeystickshop.nl       xx
hockeystickshop.be       xx
scheerapparaatshop.nl    xx
scheerapparaatshop.be    xx
trampolinestore.nl       xx
trampolinestore.be       xx
djcontrollerexpert.nl    xx
djcontrollerexpert.be    xx
mengpaneelstore.nl       xx
mengpaneelstore.be       xx
contactgrillshop.nl      xx
contactgrillshop.be      xx
skihelmexpert.nl         xx
skihelmexpert.be         xx
skibrilcenter.nl         xx
skibrilcenter.be         xx
gourmetstelstore.nl      xx
gourmetstelstore.be      xx
bloeddrukmeterstore.nl   xx
bloeddrukmeterstore.be   xx
studioverlichtingshop.nl         xx
studioverlichtingshop.be         xx
fonduesetstore.nl        xx
fonduesetstore.be        xx
luchtbevochtigerstore.nl         xx
luchtbevochtigerstore.be         xx
loopfietscenter.nl       xx
loopfietscenter.be       xx
klokstore.nl     xx
klokstore.be     xx
luchtontvochtigerstore.nl        xx
luchtontvochtigerstore.be        xx
schooltascenter.nl       xx
schooltascenter.be       xx
baardtrimmershop.nl      xx
baardtrimmershop.be      xx
personenweegschaalshop.nl        xx
personenweegschaalshop.be        xx
thermokledingcenter.nl   xx
thermokledingcenter.be   xx
terrasverwarmingshop.nl          xx
terrasverwarmingshop.be          xx
bouwspeelgoedshop.nl     xx
bouwspeelgoedshop.be     xx
snijmachineshop.nl       xx
snijmachineshop.be       xx
speelgoedshop.nl         xx
speelgoedstore.be         xx
douchekraanstore.nl      xx
douchekraanstore.be      xx
sintcadeaucenter.nl      xx
sintcadeaucenter.be      xx
kerstcadeaucenter.nl     xx
kerstcadeaucenter.be     xx
wastafelkraanstore.nl    xx
wastafelkraanstore.be    xx
badkraanstore.nl         xx
badkraanstore.be         xx
sapcentrifugeshop.nl     xx
sapcentrifugeshop.be     xx
wandelschoenencenter.nl          xx
wandelschoenencenter.be          xx
crosstrainershop.nl      xx
crosstrainershop.be      xx
hometrainershop.nl       xx
hometrainershop.be       xx
weegschaalstore.nl       xx
weegschaalstore.be       xx
autostoelshop.nl         xx
autostoelshop.be         xx
stepexpert.nl    xx
stepexpert.be    xx
massagekussenstore.nl    xx
massagekussenstore.be    xx
buitenverlichtingshop.nl         xx
buitenverlichtingshop.be         xx
yod-shop.nl      xx
pvcenter.nl      xx
hardloopkledingcenter.nl         xx
hardloopkledingcenter.be         xx
kranenexpert.nl          xx
kranenexpert.be          xx
skelterspecialist.nl     xx
gocartexpert.be          xx
driewielerspecialist.nl          xx
driewielerspecialist.be          xx
smartwatchshop.nl        xx
smartwatchshop.be        xx
coolblueminimagazijn.nl	xx
coolblueminimagazijn.be xx
zwembadexpert.nl	xx
zwembadexpert.be	xx
fietsencenter.nl	xx
fietsencenter.be	xx
zonnebrilcenter.nl	xx
zonnebrilcenter.be	xx

# suziecall 51733
werkenbijcoolblue.nl	xx
werkenbijcoolblue.be    xx

# suziecall 61151
antwoordklant.nl	xx
antwoordklant.be	xx

# Jira OA-3185
coolbluebezorgt.nl	xx
coolbluebezorgt.be	xx

#klantenservice
virtualrealityexpert.be	xx
virtualrealityexpert.nl	xx

#hotorage
hotorangemedia.nl	xx

#alarmsysteemstore.be
alarmsysteemstore.be	xx

#alarmsysteemstore.nl
alarmsysteemstore.nl	xx
